/* src/App.css */
.App {
  text-align: center;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.maze {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: white;
}
